<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <!-- Error Message Textarea -->
    {% if error_message %}
        <textarea id="error-message" readonly>{{ error_message }}</textarea>
    {% endif %}

    <!-- Bottom Bar -->
    <div class="bottom-bar">
        <p>Developed by: Vansh Raja 😊</p>
    </div>
    
</body>
</html>